body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("images/lisbon-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 180px 50px;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 50px;
  color: #272044;
  background-color: white;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("images/lisbon-footer.png");
  color: white;
  padding: 65px 170px;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
footer p {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.row {
  margin-right: 16px;
}
@media (max-width: 900px) {
  header {
    padding: 220px 50px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  footer {
    padding: 50px 30px;
  }
  footer h3 {
    font-size: 15px;
  }
  footer p,
  footer a {
    font-size: 12px;
  }
}
